@use './variables' as *;

:root {
  @include light-theme;
}

[data-theme='dark'] {
  @include dark-theme;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}


body {
  font-family: 'Arial', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
}

.hero {
  background: linear-gradient(to right, var(--primary-color), var(--primary-color-darken));
  text-align: center;
  color: var(--white-color);
  padding: 6rem 2rem;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards 0.3s;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards 0.6s;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-primary {
  background: var(--secondary-color-lighten);
  color: var(--black-color);
  padding: 1rem 2rem;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;

  &:hover {
    background: var(--secondary-color);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 3px;
  }
}

.footer {
  background: var(--primary-color-darken);
  color: var(--white-color);
  text-align: center;
  padding: 1.5rem;

  nav {
    margin-top: 0.5rem;

    a {
      color: var(--white-color);
      margin: 0 0.5rem;
      text-decoration: none !important;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}
